@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
   
}
body h5 {
    text-align: center;
    color: #180F4A;
}
.whatsapp-ico {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 3%;
    transition-duration: 0.5s;

    
}
.whatsapp-ico:hover {
    transform: scale(130%);
    cursor: pointer;
    
}
nav {
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin: 0% 10%;
}
.logo {
    width: 20%;
    font-family: 'Lobster', cursive;
    font-size: 150%;
    color: #180F4A;
    
    
}
.menu {
    width: 80%;
    text-align: end;
    
    
}
.menu a {
    text-decoration: none;
    color: #180F4A;
    font-size: 120%;
    font-weight: 400;
    padding: 2%;
    
}
.menu a:hover {
    color: #FF2978;
    border-top:4px solid #180F4A;
}
#contact-btn-nav {
    background-color: #180F4A;
    color: white;
    padding: 10px 50px;
    border-radius: 10px;
    margin-left: 5%;
 }
#contact-btn-nav:hover {
    border: none;
    background-color: #FF2978;
 }
header {
    display: flex;
    justify-content: center;
    align-items: center;
 }
.headline {
    margin-left: 10%;
    margin-bottom: 7%;
    flex: 30%;
    color: #180F4A;
        
 }
#primeiro {
    margin: 0;
    padding: 0;
    letter-spacing: 14.5px;
    font-size: 100%;
 }
 .headline h2 {
    margin: 0;
    padding: 0;
    font-size: 450%;
    
 }
 #contact-btn-header {
    text-decoration: none;
    background-color: #FF2978;
    color: white;
    font-weight: 500;
    padding: 20px 50px;
    border-radius: 10px;
    
 }
 header p {
    margin-bottom: 6%;
    color: gray;
    font-size: 120%;
 }
 #contact-btn-header:hover {
    background-color: #180F4A;
 }
.div-img-headline {
    text-align: end;
    margin-right: 10%;
    flex: 40%;
}
.d-a {
    text-decoration: none;
    font-size: 75%;
    padding-right: 3.05%;
    color: gray;
}
main h2 {
    color: #180F4A;
    text-align: center;
    margin-top: 5%;
    font-size: 300%;
}
.container-cards {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 5%;
    color: gray;
}
.h3-cards {
    color: #180F4A;
    font-size: 200%;
}
.card1 {
    text-align: center;
    height: 50%;
    width: 25%;
    margin: 1%;
    padding: 5%;
    background-color: white;
    opacity: 0.6;
    
}
.card2 {
    text-align: center;
    height: 50%;
    width: 25%;
    margin: 1%;
    padding: 5%;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.13);
}
.card3 {
    text-align: center;
    height: 50%;
    width: 25%;
    margin: 1%;
    padding: 5%;
    background-color: white;
    opacity: 0.6;
    
}
#cards:hover {
    opacity: 1;
    cursor: pointer;
    
  
}
.card1:hover, .card3:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.116);
    transition-duration: 1s;
}
.card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6254AF;
    padding: 0;
    margin: 0;
}
#cards:hover .card-btn {
    font-size: 120%;
    transition-duration: 500ms;
}
#cards:hover .card-btn img {
    width: 12%;
    
}
.card-btn > a {
    text-decoration: none;
}
#cards p {
    font-size: 120%;
}
.notebook {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 10% 0% 10%;
}
.img2 {
    flex: 40%;
    text-align: center;
   
    
    
}
.complemento {
    flex: 40%;
    text-align: left;
    margin-left: 5%;
   
    
}
.complemento p {
    margin: 0;
    margin-bottom: 10%;
    color: gray;
    line-height: 170%;
    font-size: 120%;
}
.complemento h2 {
    text-align: left;
    font-size: 400%;
    color: #0093e0;
    line-height: 110%;
}
.complemento a {
    text-decoration: none;
    background-color: #FF2978;
    color: white;
    padding: 2.5% 5%;
    font-size: 120%;
    font-weight: 500;
    border-radius: 10px;
    
}
.complemento a:hover {
    background-color: #6254AF;
}
.quadro-container {
    background-image: linear-gradient(to right,#FF2978, #180F4A);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 10% 0% 10%;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.301);
    
}
.quadro {
    flex: 60%;
    color: white;
    padding: 0% 10%;
    
    
}
.quadro h2 {
    text-align: left;
    color: white;
    margin: 5% 0% 0% 0%;
}
.quadro > p {
    margin: 2% 0% 5% 0%;
    line-height: 150%;
    font-size: 120%;
}
.btn-quadro {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-quadro > a {
    background-color: #6254AF;
    text-decoration: none;
    font-weight: 600;
    color: white;
    padding: 5% 10%;
    border-radius: 10px;

}
.btn-quadro > a:hover {
  background-color: #FF2978;

}
footer {
    background-image: url(img/istockphoto-1316162702-170667a.jpg);
    background-size: contain;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8%;
   
}
footer div {
    display: flex;
    flex-direction: column;
    flex: 20%;
}
footer  p {
    margin: 0;
}
.p-especial {
    padding: 5%;
}
footer a{
    text-decoration: none;
    margin: 1.5%;
    color: gray;
    

   
}
.links:hover {
   font-weight: 500;
   margin-left: 5%;
   transition-duration: 500ms;
   
}
.logo-footer h3 {
    position: absolute;
    right: 77.3%;
    margin-top: 0;
    font-family: 'Lobster', cursive;
    font-size: 150%;
    color: #180F4A;
    transition-duration: 500ms;
    
}
.logo-footer h3:hover {
    transform: scale(110%);
   
}
.ico-container {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 35%;
    
    
}
.ico {
    padding: 0% 20%;
    
    
    transition-duration: 0.5s;

}
.ico:hover {
    
    background-color: rgb(104, 104, 104);
    border-radius: 10px;
   
   
}

/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {

}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {

}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {

}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {

}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {

}

